@section styles{
 <link rel="stylesheet" href="~/css/admin-page.css">
}


<section class = "page">
    <h1 class = "page-title">Administration</h1>

    <div class = "admin-container">
        <a asp-action="Create" asp-controller="Movies" class="btn btn-add">Add a Movie</a>
    </div>
</section>