.landing {
    background: url('/images/landing.jpg') no-repeat center center/cover;
    height: 80vh;
    position:static;
    color:antiquewhite;
    opacity: 0.9;
  }
  .landing .content  {
    display: flex;
    flex-direction:column;
    align-items:end;
    justify-content:flex-end;
    text-align:end;
    height: 100%;
    padding: 0 1rem;
  }
  .landing .content h1 {
    color:antiquewhite;
    font-size: 2rem;
    font-weight: 20;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  
  .landing::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background:var(--dark-color);
    opacity: 0.9;
  }
  
  .landing * {
    z-index: 10;
  }